---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import KMPCTA from '../components/KMPCTA.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="About | JesusDMedinaC" description="About JesusDMedinaC Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Build Your Future: Create Impactful Mobile Apps"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpg"
					alt="JesusDMedinaC at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Description</h2>
				<div class="content">
					<p>
						Are you passionate about technology and want to create innovative solutions that benefit 
            your community? Become a Mobile App Development Expert with my personalized guidance.
					</p>
					<p>
						I'm Jesus Daniel Medina Cruz, a Software Engineer with extensive experience in mobile app development 
            using Android and Kotlin. I've worked on various projects, both private and public, and 
            I'm convinced that the power of mobile apps can transform the world.
					</p>
          <p>Why Choose Me as Your Mentor?</p>
				</div>
			</section>
      <section>
        <h2 class="section-title">Why Choose Me as Your Mentor?</h2>
        <div class="content">
          <ul>
            <li>Personalized Learning: I tailor my approach to your learning pace and specific needs.</li>
            <li>Hands-on Experience: You'll learn through real-world projects relevant to the current market.</li>
            <li>Ongoing Support: I'll be available to answer your questions and guide you every step of the way.</li>
          </ul>
        </div>
      </section>
			<section>
				<h2 class="section-title">What Will You Achieve with My Program?</h2>
				<div class="content">
					<ul>
            <li>Master mobile app development with Android and Kotlin.</li>
            <li>Create professional and engaging applications.</li>
            <li>Develop essential programming skills.</li>
            <li>Gain the necessary competencies to become a highly sought-after Software Engineer.</li>
          </ul>
				</div>
			</section>
		</main>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Kotlin Multiplatform Masterclass</h3>
          <p>
            Learn how to use Kotlin Multiplatform for Android, iOS, Desktop, Web and Backend, taking
            advantage of Kotlin features.
          </p>
        </header>

        <div class="cta">
          <CallToAction href="https://kmp.jesusdmedinac.com/">
            Take the Masterclass
            <Icon icon="arrow-right" size="1.2em" />
          </CallToAction>
        </div>
      </section>
    </main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

  /* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}
</style>
